/* Style table header cells (th) */
th {
    background-color: rgb(59, 167, 59);
    text-align: center;
    padding: 8px;
    color: white;
}

/* Style table data cells (td) */
td {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #90EE90;
}

/* Add zebra striping to alternate rows */
td:nth-child(even) {
     background-color: palegreen;
}